.dress {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.dress .nav {
  width: 1000px;
  margin: 0 auto;
  background-color: transparent;
  padding: 15px 15px;
}
.dress .nav .diyi {
  float: left;
  width: 200px;
}
.dress .nav .diyi h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.dress .nav .diyi h1 span {
  font-weight: 300;
}
.dress .nav .dier {
  float: left;
  width: 500px;
  padding: 10px 90px;
}
.dress .nav .dier ul::after {
  content: "";
  clear: both;
  display: block;
}
.dress .nav .dier ul li {
  float: left;
  padding: 0 12px;
}
.dress .nav .dier ul li a {
  text-decoration: none;
  font-size: 13px;
  color: white;
  transition: all 0.8s;
}
.dress .nav .dier ul li:hover a {
  color: red;
  transform: scale(1);
}
.dress .nav .dier ul li:first-child a {
  color: red;
}
.dress .nav .disan {
  float: left;
  width: 230px;
  font-size: 0;
}
.dress .nav .disan .frame {
  padding: 10px 10px;
  border-radius: 50px 0 0 50px;
  border: 2px solid white;
  outline-style: none;
}
.dress .nav .disan i {
  width: 40px;
  height: 40px;
  background-color: #F54748;
  line-height: 34px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #F54748;
  color: white;
  padding-left: 8px;
  font-size: 16px;
}
.dress .nav .icon {
  float: right;
  width: 30px;
}
.dress .nav .icon i {
  color: white;
  text-align: left;
  font-size: 23px;
  line-height: 40px;
}
.dress .nav::after {
  content: "";
  clear: both;
  display: block;
}
.banner {
  background-image: url(imgae/b3.jpg);
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0;
}
.banner .longzhao {
  background-color: rgba(0, 0, 0, 0.273);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner .container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 250px;
}
.banner .container .sub-title p {
  color: white;
  font-size: 10px;
  padding: 12px 20px;
  margin-bottom: 8px;
  background-color: rgba(128, 128, 128, 0.293);
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
}
.banner .container .title h2 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 18px;
}
.banner .container .title h2 span {
  font-weight: 300;
}
.banner .container .btn {
  padding: 14px 35px;
  border-radius: 50px;
  background-color: #F54748;
  color: white;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.offering .container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}
.offering .container .header {
  margin-bottom: 48px;
}
.offering .container .header h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.offering .container .header h2 span {
  font-weight: 300;
}
.offering .container .row ul.card {
  width: 25%;
  float: left;
  padding: 0 8px;
}
.offering .container .row ul.card li {
  position: relative;
}
.offering .container .row ul.card li img {
  border-radius: 8px;
  vertical-align: middle;
}
.offering .container .row ul.card li i {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: red;
  color: white;
  font-size: 15px;
  left: 0;
  bottom: 0;
  text-align: center;
  border-radius: 0 0 0 8px;
  transition: all 0.5s;
}
.offering .container .row ul.card li .lop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.429);
  transition: all 0.5s;
  transform: scale(0);
  border-radius: 8px;
}
.offering .container .row ul.card li .lop div {
  height: 130px;
  width: 100%;
  padding: 0 30px;
  line-height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
.offering .container .row ul.card li .lop div h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}
.offering .container .row ul.card li .lop div p {
  font-size: 14px;
  color: white;
}
.offering .container .row ul.card li .lop::after {
  content: "";
  display: block;
  clear: both;
}
.offering .container .row ul.card li:hover .lop {
  transform: scale(1);
}
.offering .container .row ul.card li:hover i {
  opacity: 0;
}
.offering .container .row::after {
  content: "";
  display: block;
  clear: both;
}
.offering .container .text {
  padding-top: 20px;
  margin-top: 48px;
  text-align: center;
}
.offering .container .text a {
  background-color: #F54748;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
}
.clients .wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
.clients .wrapper .header {
  text-align: center;
  margin-bottom: 48px;
}
.clients .wrapper .header h2 {
  font-weight: bold;
  font-size: 35px;
}
.clients .wrapper .header h2 span {
  font-weight: 300;
}
.clients .wrapper .tbody .card {
  width: calc(33% - 30px);
  float: left;
  padding: 30px 30px;
  background-color: white;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  border-radius: 8px;
}
.clients .wrapper .tbody .card .content {
  height: 55px;
}
.clients .wrapper .tbody .card .content i {
  float: left;
  font-size: 28px;
  color: red;
  line-height: 40px;
}
.clients .wrapper .tbody .card .content h2 {
  float: right;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.077);
  transition: all 0.5s;
}
.clients .wrapper .tbody .card .content::after {
  content: "";
  display: block;
  clear: both;
}
.clients .wrapper .tbody .card:hover h2 {
  color: rgba(0, 0, 0, 0.303);
}
.clients .wrapper .tbody .card .title h3 {
  margin: 15px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}
.clients .wrapper .tbody .card .title h3:hover {
  color: red;
}
.clients .wrapper .tbody .card .title p {
  font-size: 14px;
  line-height: 25px;
  color: gray;
}
.clients .wrapper .tbody .card .text {
  margin-top: 20px;
  border-bottom: 2px solid red;
  display: inline-block;
}
.clients .wrapper .tbody .card .text a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.clients .wrapper .tbody::after {
  content: "";
  display: block;
  clear: both;
}
.experience {
  padding: 50px 0;
}
.experience .wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
.experience .wrapper .text {
  width: 50%;
  float: left;
  padding: 0 48px 0 12px;
  height: 400px;
}
.experience .wrapper .text h2 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 15px;
}
.experience .wrapper .text h2 span {
  font-weight: 300;
}
.experience .wrapper .text h3 {
  margin-top: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.726);
  line-height: 25px;
}
.experience .wrapper .text h4 {
  margin-top: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.726);
}
.experience .wrapper .text .link {
  margin-top: 24px;
}
.experience .wrapper .text .link a {
  text-decoration: none;
  color: white;
  background-color: #F54748;
  padding: 12px 28px;
  border-radius: 50px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}
.experience .wrapper .card {
  width: 50%;
  float: left;
  position: relative;
  border: 8px solid rgba(128, 128, 128, 0.505);
  height: 355px;
  border-radius: 8px;
}
.experience .wrapper .card .tupian {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  right: 20px;
}
.experience .wrapper .card .tupian i {
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  color: #F54748;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.experience .wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.experience::after {
  content: "";
  display: block;
  clear: both;
}
.deliver {
  height: 380px;
  padding: 50px 0;
  background-image: url(imgae/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
  z-index: 1;
}
.deliver .longzhao {
  background-color: rgba(0, 0, 0, 0.416);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.deliver .longzhao::after {
  content: "";
  display: inline-block;
  clear: both;
}
.deliver .wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 75px 50px;
}
.deliver .wrapper .title {
  float: left;
  width: 625px;
}
.deliver .wrapper .title h2 {
  font-size: 40px;
  color: white;
}
.deliver .wrapper .title h2 span {
  font-weight: 300;
}
.deliver .wrapper .title p {
  color: white;
  margin-top: 24px;
  line-height: 30px;
}
.deliver .wrapper .btn {
  float: right;
  width: 425px;
}
.deliver .wrapper .btn a {
  float: right;
  text-decoration: none;
  color: white;
  background-color: #F54748;
  padding: 12px 45px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 43px;
  transition: all 2s;
}
.deliver .wrapper .btn:hover a {
  background-color: orange;
}
.deliver .wrapper::after {
  content: "";
  display: inline-block;
  clear: both;
}
.works .container {
  width: 100%;
}
.works .container .box1 {
  width: 50%;
  height: 400px;
  float: left;
  padding: 90px 90px;
}
.works .container .box1 h1 {
  font-size: 40px;
  font-weight: bold;
}
.works .container .box1 h1 span {
  font-weight: 300;
}
.works .container .box1 p {
  color: #363636cf;
  line-height: 28px;
  margin: 16px 0;
  font-size: 15px;
}
.works .container .box1 .btn {
  margin-top: 54px;
}
.works .container .box1 .btn a {
  text-decoration: none;
  background-color: #F54748;
  color: white;
  padding: 14px 40px;
  border-radius: 50px;
  font-weight: bold;
}
.works .container .box2 {
  width: 50%;
  height: 400px;
  float: left;
  padding: 50px;
  background-image: url(imgae/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px;
}
.works .container::after {
  content: "";
  display: block;
  clear: both;
}
.designs {
  width: 100%;
  height: 400px;
}
.designs .content .logo1 {
  background-image: url(imgae/bg3.jpg);
  height: 400px;
  width: 25%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 30px;
}
.designs .content .oneicon {
  height: 400px;
  width: 25%;
  float: left;
  padding: 50px;
  padding-top: 124px;
  text-align: center;
  box-sizing: border-box;
}
.designs .content .oneicon i {
  font-size: 40px;
  color: red;
  margin-bottom: 24px;
}
.designs .content .oneicon h2 {
  font-size: 20px;
  font-weight: bold;
}
.designs .content .oneicon p {
  font-size: 15px;
  color: #363636cf;
  margin-top: 10px;
  line-height: 25px;
}
.designs .content .logo2 {
  background-image: url(imgae/bg4.jpg);
  height: 400px;
  width: 25%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.designs .content .twoicon {
  height: 400px;
  width: 25%;
  float: left;
  padding: 50px;
  padding-top: 124px;
  text-align: center;
  box-sizing: border-box;
}
.designs .content .twoicon i {
  font-size: 40px;
  color: red;
  margin-bottom: 24px;
}
.designs .content .twoicon h2 {
  font-size: 20px;
  font-weight: bold;
}
.designs .content .twoicon p {
  font-size: 15px;
  color: #363636cf;
  margin-top: 10px;
  line-height: 25px;
}
.designs::after {
  content: "";
  display: inline-block;
  clear: both;
}
.poste {
  padding: 50px 0;
}
.poste .wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}
.poste .wrapper .header {
  text-align: center;
  margin-bottom: 50px;
}
.poste .wrapper .header h3 {
  font-size: 45px;
}
.poste .wrapper .header h3 span {
  font-weight: 300;
}
.poste .container .card {
  width: 33%;
  float: left;
  padding: 0 15px;
}
.poste .container .card .icon {
  height: 228px;
  width: 357px;
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.poste .container .card .icon img {
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  border-radius: 8px 8px 0 0;
}
.poste .container .card .icon .lop {
  background-color: rgba(255, 0, 0, 0.503);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px 8px 0 0;
  transition: all 0.5s;
  transform: scale(0);
}
.poste .container .card .icon .lop .jiahao i {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.poste .container .card .info {
  height: 230px;
  width: 357px;
  padding: 30px 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.077);
  border-radius: 0 0 8px 8px;
}
.poste .container .card .info .title h1 {
  float: left;
}
.poste .container .card .info .title h1 i {
  color: red;
}
.poste .container .card .info .title h2 {
  float: right;
}
.poste .container .card .info .title h2 i {
  color: red;
}
.poste .container .card .info .title::after {
  content: "";
  display: block;
  clear: both;
}
.poste .container .card .info .sub-title h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
.poste .container .card .info .sub-title h3:hover {
  color: rgba(255, 0, 0, 0.827);
}
.poste .container .card .info .sub-title p {
  margin-top: 16px;
  font-size: 14px;
  color: #363636cf;
  line-height: 25px;
  letter-spacing: 0.1px;
}
.poste .container .card .info .btn {
  margin-top: 20px;
}
.poste .container .card .info .btn a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid red;
  line-height: 10px;
}
.poste .container .card:hover img {
  transform: scale(1.1);
}
.poste .container .card:hover .lop {
  transform: scale(1);
}
.poste .container::after {
  content: "";
  display: block;
  clear: both;
}
.fonter {
  background-image: url(imgae/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 1;
}
.fonter .lop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.fonter .lop::after {
  content: "";
  display: block;
  clear: both;
}
.fonter::after {
  content: "";
  display: block;
  clear: both;
}
.fonter .wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 425px;
  padding: 100px 15px 100px 15px;
}
.fonter .wrapper .row {
  width: 100%;
  height: 268px;
}
.fonter .wrapper .row .diyi {
  float: left;
  width: 374px;
  padding: 0 12px;
}
.fonter .wrapper .row .diyi h1 {
  font-weight: 800;
  font-size: 32px;
  color: white;
}
.fonter .wrapper .row .diyi h1 span {
  font-weight: 300;
}
.fonter .wrapper .row .diyi p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.819);
  line-height: 25px;
  font-size: 15px;
}
.fonter .wrapper .row .diyi .icon {
  margin-top: 24px;
}
.fonter .wrapper .row .diyi .icon i {
  width: 25px;
  height: 25px;
  color: white;
  font-size: 17px;
  margin-right: 5px;
}
.fonter .wrapper .row .dier {
  float: left;
  width: 473px;
  padding: 0 12px;
}
.fonter .wrapper .row .dier .text {
  float: left;
  padding: 0 12px;
}
.fonter .wrapper .row .dier .text h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.fonter .wrapper .row .dier .text ul li {
  color: rgba(255, 255, 255, 0.819);
  font-size: 15px;
  margin: 10px 0;
}
.fonter .wrapper .row .dier .sub-text {
  float: right;
  padding: 0 12px;
  margin-right: 40px;
}
.fonter .wrapper .row .dier .sub-text h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.fonter .wrapper .row .dier .sub-text ul li {
  color: rgba(255, 255, 255, 0.819);
  font-size: 15px;
  margin-top: 8px;
}
.fonter .wrapper .row .disan {
  float: left;
  width: 275px;
}
.fonter .wrapper .row .disan .title {
  float: left;
}
.fonter .wrapper .row .disan .title h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.fonter .wrapper .row .disan .title ul li {
  color: rgba(255, 255, 255, 0.819);
  font-size: 15px;
  margin-top: 8px;
}
.fonter .wrapper .row .disan .sub-title {
  float: right;
}
.fonter .wrapper .row .disan .sub-title ul {
  margin-top: 56.4px;
}
.fonter .wrapper .row .disan .sub-title ul li {
  color: rgba(255, 255, 255, 0.819);
  font-size: 15px;
  margin-top: 8px;
}
.fonter .wrapper .row .font .xhx {
  border-bottom: 1px solid white;
  width: 100%;
  height: 100%;
}
.fonter .wrapper .row .font .xhx::after {
  content: "";
  display: block;
  clear: both;
}
.fonter .wrapper .row .font .banquan {
  text-align: center;
  color: rgba(255, 255, 255, 0.819);
  padding-top: 24px;
}
.fonter .wrapper .row .font .banquan a {
  color: rgba(255, 255, 255, 0.819);
}
/*# sourceMappingURL=./02-index.css.map */